/* .container .home {
  min-height: 480rem !important;
} */

.svg-img {
  width: 100%;
  height: 50%;
}

.svg-img img {
  height: 200px !important;
  width: 100%;
}

.svg-img-div {
  /* padding-top: 6rem; */
}

.half {
  width: 50%;
  max-width: 50%;
}

.half.male-div {
  margin-left: 15px;
}

.half.female-div {
  margin-right: -15px;
}

button.btn.btn-primary.btn-large {
  width: 100%;
}

.form p,
.form h3 {
  margin-left: 15px;
}

.main {
  background-color: #e6fcf6;
}

.form-div {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 24px 0 rgba(37, 56, 88, 0.1);
}

.form-div,
.form p,
.form h3 {
  color: #253858 !important;
}

.form p {
  margin-bottom: 0;
}

.ant-row.banner-content {
  padding-top: 2rem;
}

.svg-and-text {
  padding-top: 3rem;
}

div#bannertext {
  padding-top: 1rem;
}

.radios {
  display: flex;
  justify-content: space-between;
}

.radios label {
  position: relative;
  height: 50px;
  width: 48%;
}

.radios label input[type="radio"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.radios label input[type="radio"] + span {
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: solid 1px rgba(37, 56, 88, 0.2);
}

/* .radios label input[type="radio"] + span .gender.male {
  background-position: 4px 0;
} */

.radios label input[type="radio"] + span .gender {
  width: 45px;
  height: 30px;
  display: block;
}

.radios label input[type="radio"] + span em {
  font-style: normal;
  font-size: 14px;
  color: #253858;
  line-height: 15px;
}

/* .icons-gender path {
  color: #03aa7d;
} */

.view-plans {
  background-color: #03aa7d !important;
  border-color: #03aa7d !important;
}

.radios label input[type="radio"]:checked + span {
  border: 1px solid #03aa7d;
  color: #03aa7d;
}

.radios label input[type="radio"]:checked + span::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #03aa7d;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -9px;
}

.radios label input[type="radio"]:checked + span .gender.female {
  background-position: 4px -201px;
}

.radios label input[type="radio"]:checked + span em {
  color: #03aa7d;
}

.radios label input[type="radio"]:checked + span::after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  right: 1px;
  top: -5px;
}

.custom-dialog {
  width: 100% !important;
  top: 0%;
}

form.form.steppers {
  padding-top: 1rem;
}

.form h3 {
  font-size: 1.55rem;
  padding-bottom: 1rem;
}

.modal-head {
  display: flex;
}

.form p {
  font-size: 0.875rem;
}

.modal-title {
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.num-of-people label {
  width: 31.5%;
  height: 100px !important;
}

#firstPage,
#secondPage {
  padding-top: 2rem;
}

span .num-text {
  font-style: normal;
  font-size: 14px;
  /* color: #253858; */
  line-height: 15px;
}

span.num-div-inner {
  flex-direction: column;
  height: 100px !important;
}

.num-div-inner span {
  height: 100% !important;
  width: 100% !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.me {
  background: url("./svgs/male-b.svg") no-repeat 0 0;
}

.couple {
  background: url("./svgs/couple-b.svg") no-repeat 0 0;
}

.fam-of-3 {
  background: url("./svgs/fam-of-3-b.svg") no-repeat 0 0;
}

.fam-of-4 {
  background: url("./svgs/fam-of-4-b.svg") no-repeat 0 0;
}

.parents {
  background: url("./svgs/parents-b.svg") no-repeat 0 0;
}

.others {
  background: url("./svgs/plus-b.svg") no-repeat 0 0;
}

.me,
.couple,
.fam-of-3,
.fam-of-4,
.parents,
.others {
  max-height: 50px;
  max-width: 80px;
  width: 100% !important;
  height: 100% !important;
}

span.num-div-inner {
  display: flex;
  text-align: center;
}

i.gender.icons-gender.male.me {
  margin-top: 1rem;
  margin-left: 2.8rem;
}

i.gender.icons-gender.male.couple {
  margin-top: 0.5rem;
  margin-left: 0.95rem;
}

i.gender.icons-gender.male.fam-of-3 {
  margin-left: 0.85rem;
}

i.gender.icons-gender.male.parents {
  margin-left: 0;
}

i.gender.icons-gender.male.others {
  margin-left: 2.4rem;
  margin-top: 0.1rem;
}

.radios label input[type="radio"]:checked + span .me {
  background: url("./svgs/male.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .couple {
  background: url("./svgs/couple.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .fam-of-3 {
  background: url("./svgs/fam-of-3.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .fam-of-4 {
  background: url("./svgs/fam-of-4.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .parents {
  background: url("./svgs/parents.svg") no-repeat 0 0 !important;
}

.show {
  display: flex !important;
}

.top-row {
  margin-bottom: 0.2rem;
}

.checkbox {
  display: flex;
  color: #253858 !important;
}

.checkbox label {
  position: relative;
  height: 50px;
  width: 100%;
}

.checkbox label input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.checkbox label input[type="checkbox"] + span {
  width: 100%;
  height: 48px;
  padding: 10px 10px 10px 40px;
  display: grid;
  align-items: center;
  border: 1px solid transparent;
  font-style: normal;
}

.checkbox label input[type="checkbox"] + span::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 15px;
  border: 1px solid #b3bac5;
}

.checkbox label input[type="checkbox"]:checked + span::before {
  content: "";
  background: #03aa7d;
  border: 1px solid #03aa7d;
}

.checkbox label input[type="checkbox"] + span::before {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 15px;
}
.checkbox label input[type="checkbox"]:checked + span::after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 16px;
  top: 19px;
}

.chkContainer {
  background-color: #fff;
  height: 48px;
  box-shadow: none;
  border-radius: 3px;
  font-size: 14px;
  color: #212121;
  position: relative;
  border: solid 1px rgba(37, 56, 88, 0.2);
  /* width: calc(60% - 10px); */
  /* margin-right: 10px; */
}

.age-select {
  height: 48px !important;
}

div.self,
div.spouse,
div.son,
div.daughter,
div.father,
div.mother,
div.grandfather,
div.grandmother,
div.father-in-law,
div.mother-in-law {
  margin-bottom: 0.5rem;
}

#others-controls .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-md-12.son,
.col-md-12.daughter {
  width: 97% !important;
}

.modal-header {
  border-bottom-color: #fff !important;
  border-bottom: 0px !important;
  background-color: #fff !important;
}

.others-mtitle {
  margin-left: 15px;
  color: #253858 !important;
}

.others-mtitle h3 {
  color: #253858 !important;
}

select.form-control.age-select {
  color: #253858 !important;
}

button.close {
  position: absolute;
  right: 60px;
  top: 30px;
  width: 36px;
  height: 36px;
  background: #f4f5f7 !important;
  border-radius: 50%;
  overflow: hidden;
  line-height: 600%;
  z-index: 99;
}

button.close:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background: #000;
  transform: rotate(45deg);
  left: 18px;
  top: 10px;
}

button.close:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background: #000;
  transform: rotate(-45deg);
  left: 18px;
  top: 10px;
}

.others-mtitle p {
  font-size: 0.875rem;
  margin-bottom: 0px !important;
}

.others-mtitle h3 {
  font-size: 1.55rem;
}

.others-btn-cont {
  width: 97% !important;
}

#prev {
  border-color: #fff;
}

@media (max-width: 500px) {
  .Home_banner__93PqY {
    display: none !important;
  }

  .ant-row.banner-content {
    padding-top: 0rem !important;
  }

  .AppHeader_appHeader__2t96E {
    height: 60px !important;
    background-color: #fff !important;
  }

  .svg-and-text {
    padding-top: 0rem !important;
  }
  .ant-col.svg-img-div.ant-col-xs-24.ant-col-md-8 {
    display: none !important;
  }
  .form p {
    font-size: 0.75rem !important;
  }

  .Home_content__1-Kmv {
    margin-top: 4rem !important;
  }

  .modal-title {
    margin-right: 0rem !important;
  }

  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex !important;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: #e8e8e8;
  }

  .ant-steps-item-title::after {
    position: absolute !important;
    top: 16px !important;
    left: 100% !important;
    display: flex !important;
    width: 9999px !important;
    height: 1px !important;
    background: #e8e8e8 !important;
    content: "" !important;
  }
  .modal-head {
    margin-top: 1rem !important;
  }

  .form h3 {
    font-size: 1.4rem !important;
  }
  i.gender.icons-gender.male.me {
    margin-left: 1.5rem !important;
  }

  i.gender.icons-gender.male.couple {
    margin-left: 0.6rem !important;
  }
  i.gender.icons-gender.male.fam-of-3 {
    margin-left: 0.2rem !important;
  }
  i.gender.icons-gender.male.parents {
    margin-left: 0.5rem !important;
  }
  i.gender.icons-gender.male.others {
    margin-left: 1.2rem !important;
  }
  #others-controls .row .col-md-6 {
    width: 50% !important;
  }
  .others-mtitle {
    margin-top: 1rem !important;
  }
  .AppHeader_appHeader__2t96E {
    padding-top: 1rem !important;
  }
}
