.quizPage {
    max-width: 100%;
    margin: 1px 10%;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: calc(100vh - 180px);
    
    p, label, span {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    header p {
        font-size: 1.5rem;
    }
    
    button {
        margin: 1rem;
    }

    .container {
        padding-top: 80px;
        
    }

    .navButtons {
        margin-top: 50px;
        text-align: center;
    }
    
    .cardhover{
        &:hover{
            
            filter: grayscale(1%);
          }
    }
    .checkbox{
        display:grid;
        grid-gap:5px;
        grid-template-columns: repeat(3, minmax(100px, 200px));
        color:#333333 !important;
    }
    @media screen and (min-width: 768px) {
        .container {
            max-width: 80%;
            margin: 0px auto;
        }
        
    }
}
@media screen and (max-width: 1028px) {
    .checkbox{
        display:inline-block !important;
       
    }
    
}
