/* new cards design */

.display--none {
  display: none !important;
}
.margin-top--2 {
  margin-top: 16px;
}

.padding-y--1 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

@media (min-width: 768px) {
  .md-flex-wrap--nowrap {
    flex-wrap: nowrap !important;
  }
}
.justify-content--between {
  justify-content: space-between !important;
}
.display--flex {
  display: flex !important;
}

@media (min-width: 768px) {
  .md-margin-bottom--0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .md-margin-bottom--0 {
    margin-bottom: 0 !important;
  }
}

.margin-bottom--1 {
  margin-bottom: 8px !important;
}

.c-results-header_summary {
  margin-bottom: 4px;
}

.font-weight--bold {
  font-family: "Roboto bold", sans-serif !important;
  font-weight: 700 !important;
}
.font-size--lead {
  font-size: 18px !important;
}

.font-size--base {
  font-size: 16px !important;
}

.margin-top--5 {
  margin-top: 40px !important;
}
@media (min-width: 1024px) {
  .lg-margin-bottom--0 {
    margin-bottom: 0 !important;
  }
}

.margin-right--2 {
  margin-right: 16px !important;
}

.c-button--primary,
.c-button--primary:visited {
  background-color: #03aa7d;
  border-color: transparent;
  color: #fff;
}

.c-button,
.c-button:visited {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  appearance: none;
  background-color: #fff;
  border: 2px solid #046791;
  border-radius: 3px;
  color: #046791;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
}

.display--inline-block {
  display: inline-block !important;
}

.margin-top--0 {
  margin-top: 0 !important;
}

.c-label {
  color: inherit;
  display: block;
  font-size: 16px;
  font-family: "Roboto bold", sans-serif !important;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 24px;
  max-width: 460px;
  padding: 0;
}

.bolden-it {
  font-family: "Roboto bold", sans-serif !important;
}

select.c-field {
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../../svgs/arrow-both.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 28px;
}

.c-field,
.c-field-mask {
  font-size: 16px;
  line-height: 1.3;
}

.c-field {
  border: 2px solid #253858 !important;
  border-radius: 0;
  box-sizing: border-box;
  color: #253858 !important;
  display: block;
  margin: 4px 0;
  max-width: 460px;
  outline: none;
  padding: 8px;
  width: 100%;
}

.margin-left--1,
.margin-x--1 {
  margin-left: 8px !important;
}

.c-field--medium {
  max-width: 12em;
}

.margin-top--2 {
  margin-top: 16px !important;
}
.c-list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

.margin-bottom--4 {
  margin-bottom: 32px !important;
}

.c-box-shadow {
  box-shadow: 0 2px 4px 1px rgba(91, 97, 107, 0.5);
}
.c-plan-card {
  padding: 8px;
}
.c-fill--white {
  background-color: #fff !important;
}
.c-base {
  color: #253858 !important;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .c--health .plan-card-inner,
  .-plan-card--truncated .plan-card-inner {
    padding-left: calc(25% + 16px);
    position: relative;
  }
}

@media (min-width: 1024px) {
  .plan-card-inner {
    padding: 8px;
    border: 4px solid transparent;
  }
}

.c-clearfix:after,
.c-clearfix:before {
  content: "";
  display: table;
}

.plan-card__detail-section,
.plan-card__top-section {
  border-bottom: 1px solid #d6d7d9;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  .lg-flex-wrap--nowrap {
    flex-wrap: nowrap !important;
  }
}

.font-weight--normal {
  font-weight: 400 !important;
}

.c-link:visited,
.c-usa-banner__button:visited,
a:visited {
  color: #4c2c92;
}

.c-link,
.c-usa-banner__button,
a {
  cursor: pointer;
  text-decoration: underline;
}

.font-size--small {
  font-size: 14px !important;
}

.c-plan-title__info-item {
  display: inline-block;
}

.c-plan-title__info-item:after {
  content: " |\00a0";
}

.text-align--right {
  text-align: right !important;
}

.quality-rating {
  margin-right: -8px;
  white-space: nowrap;
}
.text-align--right {
  text-align: right !important;
}

.star-rating {
  display: inline-block;
  margin-right: 4px;
}
.valign--middle {
  vertical-align: middle !important;
}

.star-rating__star {
  display: inline-block;
  margin-right: 3px;
  width: 17px;
  height: 16px;
}

.tooltip-trigger,
button.tooltip-trigger {
  background: none;
  border: none;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
}
.valign--middle {
  vertical-align: middle !important;
}

.tooltip-icon-container {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 4px solid transparent;
  background-clip: content-box;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 1024px) {
  .lg-display--block {
    display: block !important;
  }
}

.c-button.c-check-button {
  /* padding: 8px 12px; */
  padding: 8px 14px;
  white-space: nowrap;
  font-family: "Roboto-bold", sans-serif;
}
.c-check-button {
  font-weight: 700 !important;
  color: #046791 !important;
  background: #fff !important;
}

.c-check-button__checkbox {
  background-color: #fff;
  border: 2px solid #046791;
  box-sizing: border-box;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

@media (min-width: 1024px) {
  .c--health .plan-card__summary-section,
  .c-plan-card--truncated .plan-card__summary-section {
    box-sizing: border-box;
    padding-right: 8px;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .c--health .c-plan-summary,
  .c-plan-card--truncated .c-plan-summary {
    box-sizing: border-box;
    height: 100%;
  }
}

.c-plan-summary {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .lg-padding--2 {
    padding: 16px !important;
  }
}

.padding--1 {
  padding: 8px !important;
}
.grey-lightest {
  background-color: #f7f7f7 !important;
}

.c-plan-summary__summary {
  align-self: flex-start;
}

.c-plan-summary__price {
  font-size: 36px;
}

.c-plan-summary__children {
  align-self: flex-end;
  width: 100%;
}

@media (min-width: 1024px) {
  .lg-display--block {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .c-plan-card__desktop-action-buttons > .c-button:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .c-plan-card__desktop-action-buttons > .c-button {
    box-sizing: border-box;
    margin-top: 8px;
  }
}

.c-button--secondary,
.c-button--secondary:visited {
  background-color: #046791;
  border-color: transparent;
  color: #fff;
}

.c-button--primary,
.c-button--primary:visited {
  background-color: #03aa7d;
  border-color: transparent;
  color: #fff;
}

.plan-card__detail-section,
.plan-card__top-section {
  border-bottom: 1px solid #d6d7d9;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.plan-card__cost-display {
  width: 50%;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .plan-card__cost-display {
    width: calc(33.33% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}

.align-items--center {
  align-items: center !important;
}

.padding--0 {
  padding: 0 !important;
}

.tooltip-icon-containr {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 4px solid transparent;
  background-clip: content-box;
  box-sizing: border-box;
  position: relative;
}

.tooltip-icon {
  overflow: visible !important;
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
}

.flex-wrap--wrap {
  flex-wrap: wrap !important;
}

.cost-display__amount:last-child {
  padding-right: 0;
}

.font-size--h2 {
  font-size: 24px !important;
}

.padding-x--2 {
  padding-right: 16px !important;
}

.padding-left--2,
.padding-x--2 {
  padding-left: 16px !important;
}

.c-plan-card__detail-section,
.c-plan-card__top-section {
  border-bottom: 1px solid #d6d7d9;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

@media (min-width: 544px) {
  .sm-display--block {
    display: block !important;
  }
}

.limits-row {
  margin-left: -16px;
  margin-right: -16px;
}
.l-form-row,
.limits-row {
  display: flex;
  flex-wrap: wrap;
}

.padding-top--1 {
  padding-top: 8px !important;
}
.limits-col--6 {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 1024px) {
  .limits-lg-col--3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.color--gray:not(:focus) {
  color: #5b616b !important;
}
.plan-card__plan-features-container {
  display: none;
}

@media (min-width: 768px) {
  .plan-card__plan-features-container {
    width: calc(25% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}

@media (min-width: 544px) {
  .plan-card__plan-features-container {
    display: flex;
    width: calc(100% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}

.c-status-list {
  margin-top: 2px;
}

.c-status-list__item {
  position: relative;
  line-height: 22px;
  min-height: 20px;
  margin-bottom: 2px;
  padding-left: 28px;
}

.c-status-list__item__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 4px;
}

.text-transform--capitalize {
  text-transform: capitalize !important;
}

.c-plan-card__coverables-container {
  margin-right: 8px;
  width: calc(50% - 4px);
  margin-top: 8px;
}

@media (min-width: 544px) {
  .c-plan-card__coverables-container,
  .c-plan-card__coverables-container-dental {
    width: calc(50% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}
@media (min-width: 768px) {
  .c-plan-card__coverables-container {
    width: calc(37.4% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}

.plan-card-cost-display--info-needed {
  border: 1px dashed #046b99;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
.fill--gray-lightest {
  background-color: #f7f7f7 !important;
}

.c-plan-card-cost-display--info-needed {
  border: 1px dashed #046b99;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* .results-header.margin-top--2 {
  
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
} */ /* max-width: 1140px; */

.fill--gray-lightest {
  background-color: #f7f7f7 !important;
}

@media (min-width: 1024px) {
  .lg-padding--2 {
    padding: 16px !important;
  }
}

.c-link:visited,
.c-usa-banner__button:visited,
a:visited {
  color: #4c2c92;
}
.c-link,
.c-usa-banner__button,
a {
  color: #046791;
}
.c-link,
.c-usa-banner__button,
a {
  cursor: pointer;
  text-decoration: underline;
}

.c-plan-title__info-item:last-child:after {
  content: "";
}

.c-results_header_summary {
  margin-bottom: 4px;
}

.drop-ds-label {
  font-family: "Roboto bold", sans-serif;
  font-weight: 700 !important;
}

.fa-info-circle {
}

.mt---2 {
  /* margin-top: -2px; */
  overflow: visible !important;
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 0;
  top: 0;
  width: 16px !important;
  height: 16px !important;
}

.margin-y--1 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.c-button--small {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
}

.limits-col--6,
.limits-lg-col--3 {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.fa-info-circle path {
  fill: #5b616b !important;
}

.border--0 {
  border: 0 !important;
}

@media (min-width: 768px) {
  .plan-card__plan-features-container {
    width: calc(25% - 5.33333px);
    margin-top: 0;
    margin-right: 8px;
  }
}

.c-plan-card__coverables-container:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .c-plan-card__coverables-container:last-child {
    margin-right: 0;
  }
}

.c-plan-card .c-compare-button,
.c-plan-card__action-button {
  width: 100%;
}

.plan-card__cost-display-yearly-cost {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .plan-card__cost-display-yearly-cost {
    width: calc(33.33% - 5.33333px);
    margin-top: 0;
    margin-right: 0;
  }
}

.plan-card {
  padding: 8px;
}

.c-plan-card__mobile-action-buttons {
  display: flex;
  margin-top: 8px;
}

.c-plan-card__mobile-action-buttons > .c-button:first-child {
  margin-left: 0;
}

.c-plan-card__mobile-action-buttons > .c-button {
  margin-left: 8px;
}

@media (min-width: 1024px) {
  .lg-display--none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .home-plans-div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .banner-bottom .row .col-md-4 {
    padding-left: 5px !important;
  }

  .banner-bottom .card p {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    margin-left: 0.3rem;
    /* padding: 5px; */
  }
}

@media (min-width: 999px) and (max-width: 1199px) {
  .banner-div .container {
    /* max-width: 1140px !important; */
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.margin-bottom--4 {
  margin-bottom: 32px !important;
}

.hmo-svg-img,
.home-svg-img {
  display: flex;
  height: 100% !important;
  justify-content: center;
}

/* .hmo-svg-img img, */
.home-svg-img img {
  /* height: 100% !important; */
  margin-bottom: 1.2rem;
  height: 80% !important;
}

@media (max-width: 999px) and (min-width: 768px) {
  /* .hmo-svg-img img, */
  .home-svg-img img {
    /* height: 100% !important; */
    height: 50% !important;
  }
}

/* .svg-img img {
  height: 80% !important;
} */

.view2-svg-and-text {
  height: 400px !important;
}
/* 
.hmo-svg-img img {
  height: 50% !important;
} */

.card-text h5 {
  margin-left: 0.3rem;
}

@media (max-width: 767px) {
  .ant-col.left-side-info.banner-container.provider-banner.ant-col-xs-24.ant-col-md-14 {
    display: none !important;
  }
}

/* .hmo-svg-img, */
.home-svg-img {
  flex-direction: column;
}

.tiny-descrptn {
  font-size: 1.2rem;
  text-align: center;
}

.price-slider {
  padding-bottom: 32px;
}

.price-slider p {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ant-slider-dot {
  width: 12px !important;
  height: 12px !important;
}

.ant-slider-rail,
.ant-slider-track {
  height: 8px;
}

.ant-slider-track {
  background-color: #03aa7d;
}

/* .ant-slider.ant-slider-with-marks {
  width: 100% !important;
} */

.ant-slider-with-marks {
  width: 100% !important;
  padding-left: 15px !important;
  padding-right: 15px !important;

  margin-left: 15px !important;
  margin-right: 15px !important;
}

.ant-slider-rail {
  width: 90% !important ;
}

.ant-slider-dot:first-child {
  display: none;
}
/* .ant-slider-handle.ant-slider-handle-1 {
  display: none;
} */

@media (max-width: 500px) {
  .ant-slider-rail {
    width: 85% !important;
  }
}

/* filter card */

.c-filter-panel:after,
.c-filter-panel:before {
  content: "";
  position: absolute;
  left: 60px;
  top: 0;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top: 0;
}

.c-filter-panel {
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #5b616b;
  box-shadow: 0 4px 4px 1px rgba(50, 58, 69, 0.5);
  z-index: 2;
}
.l-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.c-filter-panel:before {
  border-bottom-color: #5b616b;
  margin-top: -12px;
}

@media (max-width: 768px) {
  .c-filter-panel {
    -webkit-overflow-scrolling: touch;
    border: 0;
    margin: 0;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }

  .c-filter-panel-margin-for-mobile-buttons {
    margin-bottom: 124px;
  }
}

@media (max-width: 991px) {
  .c-filter-panel:after,
  .c-filter-panel:before {
    right: 65px;
  }
}

@media (max-width: 1199px) {
  .c-filter-panel:after,
  .c-filter-panel:before {
    right: 80px;
  }
}

.margin-y--2 {
  margin-bottom: 16px !important;
  margin-top: 16px !important;
}

.form-row {
  margin-left: -8px;
  margin-right: -8px;
}

.l-form-row > .l-col,
.l-form-row > [class*="-col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.margin-bottom--2 {
  margin-bottom: 16px !important;
}

.c-plan-filter-container {
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .l-lg-col--6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.padding--2 {
  padding: 16px !important;
}

.c-range-field {
  max-width: 300px;
}

.c-fieldset {
  border: 0;
  margin: 24px 0 0;
  min-width: 0;
  padding: 0;
}

.c-plan-filter-container .c-fieldset .c-label {
  max-width: 100%;
}
.c-fieldset > .c-label:first-child {
  margin-top: 0;
}

.c-field__hint {
  color: #5b616b;
  display: block;
  font-weight: 400;
}

.c-range-field__input {
  max-width: 78px;
  flex-shrink: 1;
}

.c-field-mask {
  position: relative;
}
.c-field__before--currency {
  font-size: 18px;
  font-weight: 700;
  padding-top: 1px;
}

.c-field__before {
  bottom: 8px;
  left: 8px;
  position: absolute;
  top: 8px;
}

.c-field--currency {
  padding-left: 20px;
}

.c-range-field__to {
  line-height: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.c-button.c-button--disabled,
.c-button:disabled,
.c-button:visited.c-button--disabled,
.c-button:visited:disabled {
  background-color: #fff;
  border-color: #d6d7d9;
  color: #d6d7d9;
  pointer-events: none;
}

.c-range-field__button {
  white-space: nowrap;
  margin-left: 8px;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .l-lg-col--4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-lg-col--12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.c-choice {
  left: -999em;
  opacity: 0;
  position: absolute;
}

.c-choice--small + label {
  min-height: 20px;
  padding-left: 28px;
}

.c-choice + label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  margin: 8px 0;
  /* max-width: 65ex;
  min-height: 32px;
  padding-left: 40px; */
  position: relative;
  /* width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; */
}

.c-choice--small + label:before {
  height: 20px;
  top: 2px;
  width: 20px;
}

.c-choice + label:before {
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 0;
  box-sizing: border-box;
  content: "\a0";
  /* height: 32px; */
  left: 0;
  position: absolute;
  top: 0;
  /* width: 32px; */
}

.c-plan-filter-container__add-coverables {
  min-width: 208px;
}

.margin-top--1 {
  margin-top: 8px !important;
}

#plan-id-filter {
  max-width: 220px !important;
}

.c-multiselect-dropdown__button-wrapper {
  position: relative;
}

.c-multiselect-dropdown__list {
  position: absolute;
  left: 8px;
  /* top: 8px; */
  padding: 8px;
  background: #fff;
  box-shadow: 0 2px 4px 2px rgba(91, 97, 107, 0.25);
  border-radius: 5px;
  z-index: 1;
}

.c-choice {
  left: -999em;
  opacity: 0;
  position: absolute;
}

.c-multiselect-dropdown__list-item:first-child .c-label {
  margin-top: 0;
}

.c-button--success,
.c-button--success:visited {
  background-color: #12890e;
  border-color: transparent;
  color: #fff;
}

.c-filter-panel-fixed-mobile-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-filter-panel-fixed-mobile-buttons .c-button {
  width: 100%;
}

.border-bottom--2 {
  border-bottom: 2px solid #d6d7d9 !important;
}
.fill--background {
  background-color: #fff !important;
}

/* .results-sticky {
  top: 0px;
}

.c-sticky--fixed.c-sticky--animated {
  transition: transform 0.5s ease-in-out;
}

.c-results-header .c-sticky--fixed {
  left: 0;
}
.c-sticky--fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  transform: translateY(0);
}

.c-results-header .c-sticky--fixed {
  left: 0;
} */

@media (min-width: 768px) {
  .md-display--none {
    display: none !important;
  }
}

.c-filter-panel:after {
  border-bottom-color: #fff;
  margin-top: -11px;
}

.c-multiselect-dropdown__button {
  background-color: #fff;
  background-image: url("../../svgs/arrow-both.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 28px;
  text-align: left;
  white-space: normal;
}

.c-choice--small + label:after {
  border-width: 0 0 3px 3px;
  height: 3px;
  left: 5px;
  top: 8px;
  width: 7px;
}

.ds-c-choice--small + label:before {
  height: 20px;
  top: 2px;
  width: 20px;
}
.ds-c-choice + label:before {
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 0;
  box-sizing: border-box;
  content: "\a0";
  /* height: 32px; */
  left: 0;
  position: absolute;
  /* top: 0;
  width: 32px; */
}

.c-choice:checked + label:after {
  opacity: 1;
}

.c-choice:checked + label:before {
  background-color: #046791;
  border-color: #046791;
}

.c-choice + label:after {
  box-sizing: content-box;
}

.c-choice + label:after {
  background: transparent;
  border: solid;
  border-color: transparent #fff #fff;
  /* border-width: 0 0 4px 4px; */
  content: "";
  /* height: 4px;
  left: 9px; */
  opacity: 0;
  position: absolute;
  /* top: 11px; */
  transform: rotate(-45deg);
  width: 10px;
}

.c-choice + label:after {
  box-sizing: content-box;
}

.c-choice--small + label:after {
  border-width: 0 0 3px 3px;
  height: 3px;
  left: 5px;
  top: 8px;
  width: 7px;
}

/* .c-multiselect-dropdown__list {
  display: none !important;
} */

.c-filter-tag__button {
  background-color: #fff;
  border: 1px solid #046791;
  color: #046791;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: left;
  padding: 4px 30px 4px 8px;
  position: relative;
}

.c-filter-tag__clear-icon {
  border-radius: 50%;
  border: 1px solid #046791;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 8px;
  padding: 0;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 7px;
  right: 8px;
}

.c-filter-tag__clear-icon .c-clear-icon {
  display: block;
  position: relative;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
}

.c-filter-tag__clear-icon .c-clear-icon__x {
  fill: #046791;
}

.c-filter-tag {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
}

.l-col.fill--white.c-filter-panel {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.l-lg-col--6 {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.l-lg-col--8 {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  /* padding-left: 16px;
    padding-right: 16px; */
  width: 100%;
}

.l-lg-col--4 {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  /* padding-left: 16px;
    padding-right: 16px; */
  width: 100%;
}

@media (min-width: 1024px) {
  .l-lg-col--8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-lg-col--6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-lg-col--4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.l-form-row {
  margin-left: -8px;
  margin-right: -8px;
}

.l-col.fill--white.c-filter-panel {
  background: #fff;
}

.l-col.c-filter-panel-fixed-mobile-buttons {
  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.l-lg-col--12 {
  width: 100%;
}

.padding-y--2 {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.l-row {
  margin-left: -16px;
  margin-right: -16px;
}

.l-form-row,
.l-row {
  display: flex;
  flex-wrap: wrap;
}

.l-col--12 {
  flex: 0 0 100%;
  max-width: 100%;

  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.l-col--6 {
  flex: 0 0 50%;
  max-width: 50%;

  box-sizing: border-box;
  min-height: 1px;
  min-width: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.font-size--h1 {
  font-size: 36px !important;
}

.ic-color {
  color: #253858 !important;
}

#desktop-on-page-load-modal .modal-header .close {
  /* float: right; */
  padding: 1rem 1rem;
  margin: -2.8rem -4.8rem -1rem auto;
}

#desktop-on-page-load-modal .modal-header {
  padding: 0px !important;
}

.c-filter-plans {
  outline: none !important;
}
