.c-compare-title__card {
  margin: 1px;
}

.c-compare-title__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

h2.border-bottom--1.border--dark.padding-bottom--2 {
  margin-block-start: 0.83em;
}

h2.c-plan-title__name.font-weight--normal.margin-y--1 {
  font-size: 1.5rem;
}

button.ds-h2:focus,
button.ds-h2:active {
  outline-color: #046791 !important;
  padding: 2px !important;
}

.filt_comp_btns a.c-button {
  padding-top: 8px !important;
  margin-left: 8px;
}

@media (max-width: 600px) {
  .rh-plan-type-div {
    max-width: 50% !important;
  }

  .results-header-right {
    display: flex;
    justify-content: space-between;
  }

  .filt_comp_btns {
    display: flex;
    justify-content: space-between;
  }

  .filt_comp_btns .c-button {
    width: 50% !important;

    height: 40px !important;
  }

  .filt_comp_btns .margin-right--2 {
    margin-right: 0px !important;
  }

  .filt_comp_btns .c-button,
  .filt_comp_btns .c-button:visited {
    padding: 0px !important;
  }

  .results-header-left {
    width: 100% !important;
  }

  section.sp-top-main {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
}
