.c-compare-title__card {
  margin: 1px;
}

.c-compare-title__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

h2.border-bottom--1.border--dark.padding-bottom--2 {
  margin-block-start: 0.83em;
}

h2.c-plan-title__name.font-weight--normal.margin-y--1 {
  font-size: 1.5rem;
}
