/* .container .home {
  min-height: 480rem !important;
} */

body,
h5,
.Home_textHeading__26RD2 {
  color: #172b4d !important;
}

.svg-img {
  width: 100%;
  height: 50%;
}

.svg-img img {
  height: 200px !important;
  width: 100%;
}

.svg-img-div {
  /* padding-top: 6rem; */
}

.half {
  width: 50%;
  max-width: 50%;
}

.half.male-div {
  margin-left: 15px;
}

.half.female-div {
  margin-right: -15px;
}

button.btn.btn-primary.btn-large {
  width: 100%;
}

.form p,
.form h3 {
  margin-left: 15px;
}

/* .main {
  background-color: #e6fcf6;
} */

.form-div {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 24px 0 rgba(37, 56, 88, 0.1);
}

.form-div,
.form p,
.form h3 {
  color: #253858 !important;
}

.form p {
  margin-bottom: 0;
}

.ant-row.banner-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.svg-and-text {
  padding-top: 3rem;
}

div#bannertext {
  padding-top: 1rem;
}

.radios {
  display: flex;
  justify-content: space-between;
}

.radios label {
  position: relative;
  height: 50px;
  width: 48%;
}

.radios label input[type="radio"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.radios label input[type="radio"] + span {
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: solid 1px rgba(37, 56, 88, 0.2);
}

/* .radios label input[type="radio"] + span .gender.male {
  background-position: 4px 0;
} */

.radios label input[type="radio"] + span .gender {
  width: 45px;
  height: 30px;
  display: block;
}

.radios label input[type="radio"] + span em {
  font-style: normal;
  font-size: 14px;
  color: #253858;
  line-height: 15px;
}

/* .icons-gender path {
  color: #03aa7d;
} */

.view-plans {
  background-color: #03aa7d !important;
  border-color: #03aa7d !important;
}

.radios label input[type="radio"]:checked + span {
  border: 1px solid #03aa7d;
  color: #03aa7d;
}

.radios label input[type="radio"]:checked + span::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #03aa7d;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -9px;
}

.radios label input[type="radio"]:checked + span .gender.female {
  background-position: 4px -201px;
}

.radios label input[type="radio"]:checked + span em {
  color: #03aa7d;
}

.radios label input[type="radio"]:checked + span::after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  right: 1px;
  top: -5px;
}

.custom-dialog {
  width: 100% !important;
  top: 0%;
}

form.form.steppers {
  padding-top: 1rem;
}

.form h3 {
  font-size: 1.55rem;
  padding-bottom: 1rem;
}

.modal-head {
  display: flex;
}

.form p {
  font-size: 0.875rem;
}

.modal-title {
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.num-of-people label {
  width: 31.5%;
  height: 100px !important;
}

#firstPage,
#secondPage {
  padding-top: 2rem;
}

span .num-text {
  font-style: normal;
  font-size: 14px;
  /* color: #253858; */
  line-height: 15px;
}

span.num-div-inner {
  flex-direction: column;
  height: 100px !important;
}

.num-div-inner span {
  height: 100% !important;
  width: 100% !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.me {
  background: url("./svgs/male-b.svg") no-repeat 0 0;
}

.couple {
  background: url("./svgs/couple-b.svg") no-repeat 0 0;
}

.fam-of-3 {
  background: url("./svgs/fam-of-3-b.svg") no-repeat 0 0;
}

.fam-of-4 {
  background: url("./svgs/fam-of-4-b.svg") no-repeat 0 0;
}

.parents {
  background: url("./svgs/parents-b.svg") no-repeat 0 0;
}

.others {
  background: url("./svgs/plus-b.svg") no-repeat 0 0;
}

.male-icon {
  background: url("./svgs/male-b.svg") no-repeat 0 0;
}

.female-icon {
  background: url("./svgs/female-b.svg") no-repeat 0 0;
}

.me,
.couple,
.fam-of-3,
.fam-of-4,
.parents,
.others {
  max-height: 50px;
  max-width: 80px;
  width: 100% !important;
  height: 100% !important;
}

span.num-div-inner {
  display: flex;
  text-align: center;
}

i.gender.icons-gender.male.me {
  margin-top: 1rem;
  margin-left: 2.8rem;
}

i.gender.icons-gender.male.couple {
  margin-top: 0.5rem;
  margin-left: 0.95rem;
}

i.gender.icons-gender.male.fam-of-3 {
  margin-left: 0.85rem;
}

i.gender.icons-gender.male.parents {
  margin-left: 0;
}

i.gender.icons-gender.male.others {
  margin-left: 2.4rem;
  margin-top: 0.1rem;
}

.radios label input[type="radio"]:checked + span .me {
  background: url("./svgs/male.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .couple {
  background: url("./svgs/couple.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .fam-of-3 {
  background: url("./svgs/fam-of-3.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .fam-of-4 {
  background: url("./svgs/fam-of-4.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .parents {
  background: url("./svgs/parents.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .male-icon {
  background: url("./svgs/male.svg") no-repeat 0 0 !important;
}

.radios label input[type="radio"]:checked + span .female-icon {
  background: url("./svgs/female.svg") no-repeat 0 0 !important;
  background-position: 4px -128px !important;
}

.show {
  display: flex !important;
}

.top-row {
  margin-bottom: 0.2rem;
}

.checkbox {
  display: flex;
  color: #253858 !important;
}

.checkbox label {
  position: relative;
  height: 50px;
  width: 100%;
}

.checkbox label input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.checkbox label input[type="checkbox"] + span {
  width: 100%;
  height: 48px;
  padding: 10px 10px 10px 40px;
  display: grid;
  align-items: center;
  border: 1px solid transparent;
  font-style: normal;
}

.checkbox label input[type="checkbox"] + span::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 15px;
  border: 1px solid #b3bac5;
}

.checkbox label input[type="checkbox"]:checked + span::before {
  content: "";
  background: #03aa7d;
  border: 1px solid #03aa7d;
}

.checkbox label input[type="checkbox"] + span::before {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 15px;
}
.checkbox label input[type="checkbox"]:checked + span::after {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 16px;
  top: 19px;
}

.chkContainer {
  background-color: #fff;
  height: 48px;
  box-shadow: none;
  border-radius: 3px;
  font-size: 14px;
  color: #212121;
  position: relative;
  border: solid 1px rgba(37, 56, 88, 0.2);
  /* width: calc(60% - 10px); */
  /* margin-right: 10px; */
}

.age-select {
  height: 48px !important;
}

div.self,
div.spouse,
div.son,
div.daughter,
div.father,
div.mother,
div.grandfather,
div.grandmother,
div.father-in-law,
div.mother-in-law {
  margin-bottom: 0.5rem;
}

#others-controls .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-md-12.son,
.col-md-12.daughter {
  width: 97% !important;
}

.modal-header {
  border-bottom-color: #fff !important;
  border-bottom: 0px !important;
  background-color: #fff !important;
}

.others-mtitle {
  margin-left: 15px;
  color: #253858 !important;
}

.others-mtitle h3 {
  color: #253858 !important;
}

select.form-control.age-select {
  color: #253858 !important;
}

button.close {
  position: absolute;
  right: 60px;
  top: 30px;
  width: 36px;
  height: 36px;
  background: #f4f5f7 !important;
  border-radius: 50%;
  overflow: hidden;
  line-height: 600%;
  z-index: 99;
}

button.close:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background: #000;
  transform: rotate(45deg);
  left: 18px;
  top: 10px;
}

button.close:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background: #000;
  transform: rotate(-45deg);
  left: 18px;
  top: 10px;
}

.others-mtitle p {
  font-size: 0.875rem;
  margin-bottom: 0px !important;
}

.others-mtitle h3 {
  font-size: 1.55rem;
}

.others-btn-cont {
  width: 97% !important;
}

#prev {
  border-color: #fff;
}

.nav-row.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 5rem;
}

@media (max-width: 500px) {
  .Home_banner__93PqY {
    display: none !important;
  }

  .ant-row.banner-content {
    padding-top: 0rem !important;
  }

  .AppHeader_appHeader__2t96E {
    height: 60px !important;
    background-color: #fff !important;
  }

  .svg-and-text {
    padding-top: 0rem !important;
  }
  .ant-col.svg-img-div.ant-col-xs-24.ant-col-md-8 {
    display: none !important;
  }
  .form p {
    font-size: 0.75rem !important;
  }

  /* .Home_content__1-Kmv {
    margin-top: 1rem !important;
  } */

  .modal-title {
    margin-right: 0rem !important;
  }

  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex !important;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: #e8e8e8;
  }

  .ant-steps-item-title::after {
    position: absolute !important;
    top: 16px !important;
    left: 100% !important;
    display: flex !important;
    width: 9999px !important;
    height: 1px !important;
    background: #e8e8e8 !important;
    content: "" !important;
  }
  .modal-head {
    margin-top: 1rem !important;
  }

  .form h3 {
    font-size: 1rem !important;
    margin-top: 0.5rem;
  }
  i.gender.icons-gender.male.me {
    margin-left: 1.5rem !important;
  }

  i.gender.icons-gender.male.couple {
    margin-left: 0.6rem !important;
  }
  i.gender.icons-gender.male.fam-of-3 {
    margin-left: 0.2rem !important;
  }
  i.gender.icons-gender.male.parents {
    margin-left: 0.5rem !important;
  }
  i.gender.icons-gender.male.others {
    margin-left: 1.2rem !important;
  }
  #others-controls .row .col-md-6 {
    width: 50% !important;
  }
  .others-mtitle {
    margin-top: 1rem !important;
  }
  .AppHeader_appHeader__2t96E {
    padding-top: 1rem !important;
  }

  .home-gender,
  .home-fullname,
  .home-phonenum,
  .home-view-btn {
    display: none;
  }

  .mobile-view-steps,
  .mobile-view-phone,
  .mobile-view-cont-btn {
    display: block !important;
  }

  .mobile-view-phone input.form-control,
  .mobile-view-cont-btn button {
    height: 50px;
  }

  .home-frm {
    padding-top: 20px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 10px !important;
  }

  #firstPage,
  #secondPage {
    padding-top: 0.5rem;
  }

  .input-phone,
  .desktop {
    display: none;
  }

  ._1hzhf {
    display: none;
  }
  .ant-steps-item-title::after {
    left: 0% !important;
  }

  .mobile {
    display: block !important;
  }
  div#thirdPage {
    padding: 25px 0px 0px 0px !important;
  }

  .banner-bottom {
    display: none;
  }

  .row.first-row.go-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .mt6 {
    margin-top: 4rem;
  }

  .mt3 {
    margin-top: 3rem;
  }

  .hide {
    display: none !important;
  }

  .mb-minus1 {
    margin-bottom: -1rem !important;
  }

  .top-plans-content {
    margin-bottom: 4rem;
  }

  .top-plan {
    min-height: 400px !important;
  }

  .top-plans-content {
    min-height: 550px !important;
  }

  .provider-name-div {
    max-width: 50% !important;
  }
  .provider-logo-div {
    max-width: 33.33% !important;
  }
  .view-provider-details {
    max-width: 16.6% !important;
  }

  .hmo-def h5 {
    text-align: left !important;
  }
  .home-frm.form-div {
    margin-top: 1rem;
  }

  .mt-1rem {
    margin-top: 1rem;
  }

  .top-plans {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .col-md-12.row.plans-container {
    padding-right: 0px;
  }

  .row.top-plan {
    margin-left: 0.09rem !important;
    margin-right: 0.09rem !important;
  }

  .row.second-row.mt3 {
    margin-top: 0rem;
  }

  .col-md-6.mt6 {
    margin-top: -0.5rem !important;
  }

  p.breadcrmb {
    font-size: 12px !important;
  }

  span.sep {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px !important;
  }

  .col-md-12.row.plans-container {
    display: none;
  }
  .card.insurers {
    display: none;
  }

  .in-law {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .compare-second-row .col-md-4 {
    padding-left: 0.5rem !important;
  }
}

#thirdPage .col-md-3 {
  width: 22%;
  max-width: 22%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

#thirdPage .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

button.form-control.state-btn {
  border-radius: 22px;
}

.mobile-view-cont-btn,
.mobile-view-steps,
.mobile-view-phone {
  display: none;
}

.state-btn {
  border-radius: 55px !important;
  border: 1px solid #03aa7d !important;
}

div#thirdPage {
  padding: 25px;
}

.state-btn:focus {
  color: #fff !important;
  background-color: #03aa7d !important;
}

.mobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 999px) {
  /* .svg-and-text {
    max-width: 50% !important;
    width: 50% !important;
  } */

  .ant-col.svg-img-div.ant-col-xs-24.ant-col-md-8 {
    display: none;
  }
  .banner-text {
    width: 100% !important;
  }
  .banner-container {
    width: 46.67% !important;
    max-width: 46.67% !important;
    top: 6.3rem !important;
  }

  .quiz {
    width: 53.33% !important;
    max-width: 53.33% !important;
  }

  .banner-bottom .row .col-md-4 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .col-md-4.card {
    flex: 0 0 100% !important;
    padding: 0px !important;
    padding-left: 4.5rem !important;
  }

  .banner-bottom .row div:nth-child(2),
  .banner-bottom .row div:nth-child(3) {
    margin-top: 0.5rem !important;
  }

  .card svg {
    margin-top: 0.5rem !important;
  }

  .card span {
    margin-top: 0.2rem !important;
  }

  .svg-and-text {
    padding-top: 0rem !important;
    height: 100% !important;
  }

  .Home_banner__93PqY .Home_bannerContent__1ylL5 {
    padding-left: 0rem !important;
  }

  .Home_textHeading__26RD2 {
    padding-left: 0rem !important;
    font-size: 1.25rem !important;
  }

  .row.first-row {
    margin-bottom: 2.8rem !important;
  }

  .col-md-6.check-prem {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
  }

  h5,
  .h5 {
    font-size: 1rem !important;
  }

  .second-row .ml-2,
  .mx-2 {
    margin-left: 0.8rem !important;
  }

  .row .top-plan {
    height: 300px !important;
  }

  .hmo-logo {
    max-height: 50px !important;
    max-width: 50px !important;
  }
  .provider-div.col-md-12.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 569px) and (max-width: 767px) {
  .banner-bottom {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .svg-and-text {
    display: none !important;
  }

  .provider-div .col-md-2 {
    width: 13.33% !important;
    max-width: 13.33% !important;
  }

  .provider-name-div {
    width: 73.34% !important;
    max-width: 73.34% !important;
  }

  .top-plans-content {
    margin-bottom: 4rem;
  }
  .tabs_wrapper {
    padding-right: 0 !important;
  }
  .tabs_wrapper {
    border-bottom: solid 0.8px rgba(23, 43, 77, 0.2) !important;
    border-top: solid 0.8px rgba(23, 43, 77, 0.2) !important;
  }
}

.svg-and-text {
  height: 300px;
}

.banner-text {
  height: 100% !important;
}

.col-md-4.card {
  width: 30% !important;
  max-width: 30% !important;
  display: flex !important;
  flex-direction: row !important;
  padding: 1rem;
  border: 0px !important;
  border-radius: 0.5rem !important;
}

.card-text {
  margin-left: 0.5rem;
}

.banner-icon {
  font-size: 25px !important;
}

.banner-div {
  background-color: #e6fcf6;
}

.breadcrmb {
  text-align: left;
}

.hmo-logo {
  max-height: 54px;
  max-width: 100px;
}

.float-left {
  text-align: left !important;
}

.float-right {
  text-align: right !important;
}

.plans-header {
  height: 1rem;
}

.first-row,
.second-row,
.third-row {
  height: 4rem;
}

.full-width {
}

.type-div {
  float: right;
}

.go-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.check-prem .btn {
  height: 100%;
}

.check-prem p {
  margin-bottom: 0px;
}

.check-prem {
  height: 3rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row.first-row {
  margin-bottom: 1rem;
}

img.hmo-logo {
  margin-right: 2rem;
}

.top-plans-content {
  background: #f1f3f5;
  padding: 2rem;
  border-radius: 0.5rem;
}

.row.top-plan {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem;
}

span.type {
  background: #eef0f2;
  vertical-align: middle;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.8rem;
}

.bed-icon,
.gift-icon {
  background-color: #f4f5f7;
  height: 2rem;
  width: 2rem !important;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.8rem;
}

.gift-icon {
  background-color: #f4f5f7;
}

.providers {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.8px rgba(23, 43, 77, 0.2);
}

.hmo-providers {
  padding: 2rem;
  border-radius: 0.5rem;
}

button.provider-details-btn {
  background: #fff;
  border: 0px;
  font-size: 18px;
}

.col-md-4.hmo-providers {
  padding-right: 0px !important;
  border: solid 0.8px rgba(23, 43, 77, 0.2);
}

.col-md-12.row.plans-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}

.provider-div.col-md-12.row {
  border-bottom: solid 0.8px rgba(23, 43, 77, 0.2);
  padding-top: 0.5rem;
  align-items: center;
}

.information {
  margin-top: 2rem;
  text-align: justify;
}

.information p {
  font-size: 16px;
}

@media (min-width: 768px) {
  .col-md-8.top-plans-content {
    max-width: 64.666667%;
    margin-right: 2%;
  }

  .top-plans-content-wrapper .col-md-8 {
    width: calc(66.67% - 40px);
    max-width: calc(66.67% - 40px) !important;
    margin-right: 2rem;
  }
  section.tabs_wrapper {
    border-radius: 8px;
  }

  .tabs_details .card .title-h6 {
    color: #253858;
    font-size: 20px;
    font-weight: 500;
    padding-right: 124px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .insurer_card_top {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
  }

  .tag_tabs {
    background: #eef0f2;
    display: inline-block;
    border-radius: 25px;
    padding: 1px 12px;
    font-size: 12px;
    color: #253858;
    position: absolute;
    right: 16px;
    top: 11px;
  }

  .plan-features {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .plan-features .features-block {
    font-size: 14px;
    color: rgba(23, 43, 77, 0.8);
    font-weight: 400;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .features-action-bar {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .features-action-bar .price-btn {
    float: right;
  }

  .features-action-bar .price-btn .price {
    display: inline-block !important;
    color: #253858 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    margin-right: 20px !important;
  }

  .btn-check-prem {
    transition: all 0.7s ease;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 14px;
    padding: 10px 12px;
    width: 191px !important;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
  }
  .card.top_plans_see_more.see_more {
    display: none;
  }

  .card.insurers {
    padding: 0;
  }

  .card_heading {
    margin-bottom: 0;
    color: #253858;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 10px 14px;
    text-align: left;
    letter-spacing: 0.02em;
  }

  .insurer_block {
    /* -ms-flex-align: center; */
    align-items: center;
    margin-bottom: 0;
    display: flex;
    border-top: solid 0.8px #d3d7de !important;
    padding: 5px;
    position: relative;
  }

  .col-md-4 .hygeia-general-icon {
    /* background-position: 1px -4675px; */
  }

  .insurer_block .supplier_icon {
    border: 0 solid rgba(23, 43, 77, 0.2);
    border-radius: 4px;
    height: 50px;
    overflow: hidden;
    padding: 0;
    width: 50px;
    /* width: 38px; */
  }

  .supplier_icon {
    margin-left: 10px;
    /* background-image: url(./imgs/hyg.png); */
    background-repeat: no-repeat;
    /* background-position: 0 51px; */
  }

  .insurer_block .insurer_name {
    font-size: 14px;
    letter-spacing: 0.014em;
    color: #253858;
    width: auto;
    margin-left: 10px;
    display: inline-block;
    padding-right: 20px;
  }

  .insurer_block .insurer_name span {
    font-weight: 400;
    color: #172b4d;
    display: block;
    transition: color ease-in 0.3s;
    line-height: 21px;
    letter-spacing: 0.014em;
  }

  .insurer_block::after {
    content: "";
    border: solid rgba(23, 43, 77, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 28px;
  }
}

.children {
  margin-top: 0.5rem;
}

.plus,
.minus,
.count {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  /* padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; */

  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.count {
  border-radius: 0.5rem;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem;
}

.minus,
.plus {
  outline: none !important;
  background: #fff;
  border-radius: 4rem !important;
}

.children-age {
  height: 100% !important;
}

.children-check {
  height: 100% !important;
}

label.children-label {
  height: 100%;
  display: flex;
  align-items: center;
}

/* .controls div,
.col-md-12.row.children {
  display: none;
} */

.controls {
  display: flex !important;
  justify-content: space-between;
}

.show-controls {
  display: flex !important;
}

.hide-controls {
  display: none !important;
}

.children .col-md-6 {
  padding-right: 0px;
}

.show-controls.counter-controls {
  margin-bottom: 0.2rem;
}

/*.mobile-modal,
.test {
  background: red !important;
}
 
.desktop-modal {
  background: green !important;
} */

button > svg {
  pointer-events: none;
}

.ant-message {
  z-index: 2000 !important;
  float: right !important;
  right: 0 !important;
}

.row.compare-plans-header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 39;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: space-around;
}

p.plans-num,
h6.plan-type {
  margin-bottom: 0px;
}

.nav-info {
  margin-left: -40px !important;
}

#prev,
.nav-btn {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.arrow-left {
  background: url("./svgs/left.svg") no-repeat 0 0;
}

.compare-plans-header {
  padding: 0.5rem 0;
}

.plan-select {
  height: 100%;
  width: 150%;
  border: 1px solid #ced4da;

  outline: none;
  border-radius: 0.4rem;
}

.plan-select-div {
  margin-right: 25px;
}

.compare-page-body {
  background-color: #f0f4f5;
  /* min-height: 600px; */
}

.compare-first-row .col-md-2,
.compare-second-row .col-md-2 {
  width: 16.67%;
}

.compare-first-row .col-md-3,
.compare-second-row .col-md-3 {
  width: 25%;
}

.compare-first-row .col-md-4,
.compare-second-row .col-md-4 {
  width: 33.33%;
}

.compare-first-row .col-md-5,
.compare-second-row .col-md-5 {
  width: 41.67%;
}

.compare-first-row .col-md-6,
.compare-second-row .col-md-6 {
  width: 50%;
}

.compare-first-row .col-md-8,
.compare-second-row .col-md-8 {
  width: 66.67%;
}

.compare-first-row .col-md-10,
.compare-second-row .col-md-10 {
  width: 83.33%;
}

.provider-logo {
  max-height: 44px;
  max-width: 54px;
}

.single-plan {
  height: 120px;
  background: #fff;
  margin: 1rem;
  border-radius: 0.8rem;
  padding: 0.5rem;
}

.compare-second-row p {
  margin-bottom: 0;
}

.compare-first-row.row {
  margin-bottom: 1rem;
}

.middle-col {
}

.btn-plan {
  outline: none !important;
  background-color: #ff5630;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff5630;
  padding: 8px;
}

.bottom-menu {
  display: flex;
  width: 100%;
  bottom: 0;
  position: fixed;
  flex-direction: row;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
  height: 60px;
  z-index: 40;
  align-items: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.bottom-menu .col-md-4 {
  width: 33.33333%;
  text-align: center;
}

@media (min-width: 700px) {
  .mobile-view {
    display: none !important;
  }
}

div#Compare_wrapper__2_PoT {
  background: #f0f4f5;
}

i.gender.icons-gender.male.female-icon {
  background-position: 4px -128px;
}

h5.float-left.top-plans,
.home-span {
  color: #03aa7d;
}

.tabs_wrapper {
  background: #edeff1 !important;
  padding: 16px 16px !important;

  border-right: none !important;
  border-left: none !important;
}

.tabs_wrapper .tabs {
  border-bottom: 1px solid rgba(23, 43, 77, 0.1);
  margin-bottom: 20px;
}

.tabs_wrapper .tabs ul li:last-child {
  margin-right: 0;
}

.tabs_wrapper .tabs ul li.active a {
  color: #03aa7d;
  font-weight: 500;
}

.tabs_wrapper .tabs ul li a {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 13px;
  display: inline-block;
  position: relative;
}

.tabs_wrapper .tabs ul li.active a::after {
  content: "";
  height: 3px;
  background: #03aa7d;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}

.tabs_details.top_plans {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .tabs_details {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
  }

  .tabs_details .card {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    white-space: normal;
    height: 440px;
    position: relative;
    margin-right: 15px;
    max-width: 293px;
  }

  .insurer_card_top {
    flex-direction: column;
    margin-bottom: 0;
  }

  .tabsDetails .card .titleh6 {
    position: relative;
    padding-top: 5px;
    padding-left: 0;
    font-size: 16px;
    padding-right: 0;
    font-weight: 600;
  }

  .tag_tabs {
    position: absolute;
    right: 10px;
    top: 4px;
    margin: 10px 0 10px 18px;
  }

  .plan-features {
    display: block;
    height: 180px;
  }

  .plan-features .features-block {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    padding-right: 0;
    padding: 0;
  }

  .tabs_details .features-action-bar {
    margin-top: 0;
    /* width: 90%; */
    width: 100%;
  }

  .features-action-bar .price-btn {
    margin-top: 10px;
    float: none;
  }

  .features-action-bar .price-btn .price {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .features-action-bar .price-btn .btn {
    width: 100%;
  }
}

.tabs_details {
  position: relative;
}

.tabs_details .card {
  overflow: hidden;
  border-radius: 8px !important;
  padding: 6px 16px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(37, 56, 88, 0.08);
  border: none;
}

.card {
  margin-bottom: 16px;
}

.insurer_card_top {
  display: flex;
}

.logo_top {
  width: 110px;
  height: 52px;
}

.widget-insurer-logo {
  width: 120px;
  height: 40px;
  border: 1px solid #fff;
  float: left;
  margin-right: 20px;
  background-size: 100% !important;
  background-position: 0 0;
  margin-top: 6px;
}

.logo-widget {
  background: url(../src/svgs/Hygeia.svg) center no-repeat;
}

.insurer_card_top span {
  font-size: 16px;
  font-weight: 400;
}

.tabs_details .card .title-h6 {
  color: #253858;
  display: flex;
  flex-direction: column;
}

.tag_tabs {
  background: #eef0f2;
  display: inline-block;
  border-radius: 25px;
  padding: 1px 12px;
  font-size: 12px;
  color: #253858;
}

.plan-features {
  margin-top: 15px;
  flex-wrap: wrap;
}

.plan-features .features-block {
  font-size: 14px;
  color: rgba(23, 43, 77, 0.8);
  font-weight: 400;
}

.plan-features .features-block .features-icon {
  position: relative;
}

.plan-features .features-block i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f4f5f7;
  text-align: center;
  display: block;
  float: left;
}

.plan-features
  .features-block
  .features-icon[data-icon="Hospital Room Eligibility"]::before {
  background-position: -209px 0;
}

.plan-features .features-block .features-icon::before {
  content: "";
  /* background: url(../src/svgs/hospital-bed.svg) no-repeat -209px -59px; */
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 250px;
}

.plan-features .features-block i + div {
  float: left;
  width: calc(100% - 36px - 10px);
  margin-left: 10px;
  color: #253858;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: fit-content;
}

.plan-features .features-block p {
  color: #253858;
  font-weight: 500;
  margin-bottom: 3px;
}

.features-action-bar {
  margin-bottom: 20px;
}

.features-action-bar .price-btn .price {
  display: inline-block;
  color: #253858 !important;
  font-weight: 500;
  vertical-align: middle;
}

.features-action-bar .price-btn .price span {
  display: block;
  font-size: 14px;
  color: #253858;
  font-weight: 400;
}

.features-action-bar .price-btn .price h5 {
  display: block;
  color: #253858;
  font-weight: 400;
}

.btn-check-prem {
  transition: all 0.7s ease;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 14px;
  padding: 10px 12px;
  /* width: 191px; */
  width: 100%;
  border: solid 1px #03aa7d;
  text-transform: uppercase;
  border-radius: 4px;
  background: #03aa7d;
  color: #fff;
}

.Home_content__1-Kmv {
  background-color: #edeff1;
}

.Home_content__1-Kmv {
  border-top: solid 0.8px rgba(23, 43, 77, 0.2) !important;
}

.container.top-plans-content-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

p.breadcrmb {
  margin-left: 1rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 2rem !important;
}

span.sep {
  color: rgba(122, 134, 154, 0.6);
}
li,
ul {
  list-style: none;
}

.health_tab ul {
  margin: 0 !important;
  padding: 0 !important;
}

.title-h6 div {
  /* position: relative; */
  /* padding-top: 5px; */
  /* padding-left: 0; */
  font-size: 19px;
  /* padding-right: 0; */
  font-weight: 600;
}

p.feature-head {
  font-size: 16px;
}

.card.top_plans_see_more.see_more {
  text-align: center;
  line-height: 440px;
  font-size: 16px;
}

h3.no-med::after {
  content: "";
  display: block;
  width: 39px;
  height: 3px;
  background-color: #f8e71c;
  margin-top: 5px;
  position: absolute;
}

.top-plans-content-wrapper .col-md-8 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

button.close {
  outline: none;
}

.shortlist-yellow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#Compare_wrapper__2_PoT,
div#Compare_wrapper__2_PoT h6 {
  color: #253858 !important;
}

div#Compare_wrapper__2_PoT p {
  color: #7a869a !important;
  font-size: 3.2vw;
}

div#Compare_wrapper__2_PoT a,
div#Compare_wrapper__2_PoT a h6 {
  color: #03aa7d !important;
}

.img_icon {
  padding-top: 0.7em;
}

.details .row.compare-plans-header {
  justify-content: flex-start;
}

.details .row.nav-info {
  margin-left: 10px !important;
  display: flex;
  align-items: center;
}

.details .provider-logo {
  max-height: 100%;
  max-width: 100px;
}

.details .middle-col a {
  color: #ff5630;
}

.details {
  background-color: #f4f5f7;
}

.col-md-12.details-header {
  background: #fff;
  padding: 1.5rem 2rem !important;
  height: 90px;
  margin-bottom: 1rem;
}

.duration,
.members-covered,
.similar-plans {
  background: #fff;
  padding: 15px;
  margin-bottom: 1rem;
}

.duration .selected_term {
  border: 1px solid #36b37e !important;
  background: #effcf7;
}

.duration .hmo_period_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #b3bac5;
  padding: 7px 10px;
  margin: 0 0 15px;
  align-items: center;
  border-radius: 4px;
  height: 60px;
  font-weight: 600;
  font-size: 16px;
}

.duration .hmo_period_inner .label-term-radiobox {
  margin-top: 0;
}

.label-term-radiobox label {
  font-size: 16px;
  margin-right: 15px;
}

.hmo_period_inner .label-term-radiobox label .input-radio:checked {
  background: #fff;
  border: 1px solid #36b37e;
}

.hmo_period_inner .label-term-radiobox label .input-radio {
  outline: none;
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
  border-radius: 30px;

  vertical-align: middle;
}

.hmo_period_inner .label-term-radiobox label .input-radio:checked:before {
  background: #36b37e;
  border: 1px solid #36b37e;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  border-radius: 50%;
}

.hmo_period_inner .text_right {
  text-align: right;
  font-weight: 700;
}

.hmo_period_inner .text_right span {
  font-weight: 400;
}

.duration p {
  color: #7a869a !important;
}

.details h6 {
  font-size: 18px;
  font-weight: 900;
  color: #253858 !important;
}

.members-covered .row {
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}

.similar-plans {
  padding: 0;
  display: block;
}

.similar-plans {
  max-width: 1140px;
  margin: 0 auto;
}

.similar-plans-inner {
  display: block;
  padding: 16px 0;
}

.similar-plans-inner {
  background: #fff;
  margin: 0 0 12px;
  width: 100%;
  /* display: flex;
  padding: 16px; */
  align-items: center;
  border-radius: 0;
}

.similar-plans-inner .heading_section {
  margin-left: 16px;
  width: auto;
}

.heading_section h3 {
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
}

.similar_plan_feature {
  margin: 15px auto;
}

.slider-plans {
  width: 100%;
  white-space: nowrap !important;
  overflow: auto;
  font-size: 0;
}

.slider-plans {
  display: flex;
  padding: 4px 7px !important;
}

.slider-plans .box {
  padding: 0;
  width: 300px;
  margin-left: 12px;
  margin-right: 0;
}

.slider-plans > div {
  /* min-width: 230px; */
  min-width: 300px;
  display: inline-block;
}

.slider-plans .similar-plan-ul {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.slider-plans .similar-plan-ul li {
  width: 100%;
  box-shadow: none;
  border: 1px solid #dfe1e6;
  margin: 0;
}

.slider-plans .similar-plan-ul li {
  width: 100%;
  float: left;
  background: #fff;
  border-radius: 8px;
  padding: 16px 12px;
}

.slider-plans .box {
  display: flex;
  align-items: flex-start;
}

.slider-plans .box {
  height: auto !important;
}

.slider-plans .img-box-logo-similar {
  width: 72px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #dfe1e6;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  padding: 4px;
}

.slider-plans .img-box-logo-similar img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
  left: 50%;
  max-width: 64px;
  max-height: 52px;
}

.slider-plans .similar-plan-ul span.greyed-text {
  width: calc(100% - 72px);
  float: none;
  padding: 0 10px;
  font-size: 16px !important;
  font-weight: 700;
  height: auto !important;
  background: none;
}

.slider-plans .similar-plan-ul span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider-plans .similar-plan-ul ul,
.slider-plans .similar-plans-btm {
  width: calc(100% - 82px);
  float: right;
}

.slider-plans .similar-plan-ul ul {
  border: none;
  margin: -38px 0 0;
  padding: 0;
}

.slider-plans .similar-plan-ul ul li {
  width: 100%;
  float: none;
  border: none;
  font-size: 14px;
  color: #505f79;
  font-weight: 400;
}

.slider-plans .similar-plan-ul ul li {
  min-height: auto;
  margin: 0 !important;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  line-height: 28px;
  background-color: #fff;
}

.slider-plans .box_block {
  display: flex;
  align-items: flex-start;
  height: auto !important;
}

.slider-plans .img-box-logo-similar {
  width: 72px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #dfe1e6;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  padding: 4px;
}

.slider-plans .img-box-logo-similar img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
  left: 50%;
  max-width: 64px;
  max-height: 52px;
}

.slider-plans .similar-plan-ul span.greyed-text {
  width: calc(100% - 72px);
  float: none;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  height: auto !important;
  background: none;
}

.slider-plans .similar-plan-ul span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider-plans .similar-plan-ul ul,
.slider-plans .similar-plans-btm {
  width: calc(100% - 82px);
  float: right;
}

.slider-plans .similar-plan-ul ul {
  border: none;
  margin: -38px 0 0;
  padding: 0;
}

.slider-plans .similar-plan-ul ul li {
  width: 100%;
  float: none;
  border: none;
  font-size: 14px;
  color: #505f79;
  font-weight: 400;
}

.slider-plans .similar-plan-ul button {
  width: 156px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 0;
  height: 36px;
  float: left;
  font-weight: 500;
  /* border-radius: 4px; */
  background-color: #fff;
  border: 1px solid #ff5630 !important;
  color: #ff5630 !important;
}

.similar-plans-inner {
  margin-bottom: 3rem;
}

.members-chev {
  font-size: 18px;
}

.details-bottom-menu .col-md-4 {
  width: 33.33% !important;
  max-width: 33.33% !important;

  padding-right: 0px !important;
}

.details-bottom-menu .col-md-4 p {
  margin-bottom: 0px !important;
  float: left;
}

.details-bottom-menu .col-md-8 {
  width: 66.67% !important;
  max-width: 66.67% !important;
}

.checkout {
  background-color: #ff5630 !important;
  color: #fff !important;
  border-color: #ff5630 !important;
}

.chev {
  font-size: 12px;
  margin-left: 0.5rem;
}

.row.compare-page-body {
  margin-bottom: 2rem;
}
