.appHeader {
  // padding: 1rem 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media only screen and (max-width: 480px) {
    padding-bottom: 0;
    // height: 100px !important;
    // margin-bottom: 1rem;
    // margin-bottom: 15px;
  }
  width: 100%;
  // height: 57px;
  height: 100%;
  background-color: #f1f5f8;
  // background-color: #fff;
  // background-image: linear-gradient(
  //   to right,
  //   #009786,
  //   #009b85,
  //   #009e84,
  //   #00a282,
  //   #00a580,
  //   #2dae8a,
  //   #44b693,
  //   #57bf9d,
  //   #7dcfb4,
  //   #a0decb,
  //   #c3ede1,
  //   #e6fcf6
  // );
  // background-image: linear-gradient(
  //   to right top,
  //   #00a093,
  //   #5cb7a9,
  //   #8dcec1,
  //   #bae5db,
  //   #e6fcf6
  // );
  // background: linear-gradient(to right, #007991, #78ffd6);
  // background-image: linear-gradient(
  //   to right,
  //   #e6fcf6,
  //   #bae2dd,
  //   #8cc9c9,
  //   #5aafb8,
  //   #03aa7d
  // );
  /*box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);*/
  /*display: flex;
    justify-content: space-between;*/
  img {
    max-height: 30px;
    display: inline-block;
    @media only screen and (max-width: 480px) {
      padding-bottom: 0;
      max-height: 30px;
    }
  }
}

.connect {
  font-size: 24px;
  color: #a7a7a7;
  display: inline-block;
  padding: 2px;
  white-space: nowrap;
}
